<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div class="container">
    <h1>Administrator</h1>

    <div class="department-section">
        <a th:href="@{/general}"  class="card">
            <h3>General Support</h3>
        </a>
    </div>

    <div class="department-section">
        <a th:href="@{/Technical}" class="card">
            <h3>Technical Department</h3>
        </a>
    </div>

    <div class="department-section">
        <a href="support.html" class="card">
            <h3>Support Department</h3>
        </a>
    </div>

    <div class="department-section">
        <a th:href="@{/Product}" class="card">
            <h3>Product  Department</h3>
        </a>
    </div>

</div>

</body>
</html>
